figure {
  margin: 0;
  h5 {
    color: rgba(0,0,0,.84);
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
  }
  h6 {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    span.owner{
      &:after {
        content: '\00B7';
        padding-right: 4px;
        padding-left: 5px;
        font-size: 15px;
      }
    }
  }
  .tag-wrapper {
    position: relative;
    overflow: hidden;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    summary {
      margin-bottom: 10px;
    }
    .badge-light {
      background: #e9ecef;
      margin-right: 4px; 
    }
  }
  .card-link {
    position: absolute;
    top: 0;
    right: 0;
    &:after { content:"\00bb"; }
  }
}