header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2b2b2b;
  color: white;
  padding: 11px;
  margin-bottom: 10px;
  z-index: 9;
  .input-group-append {
    position: relative;
    .spinner-border {
      position: absolute;
      top: 5px;
      left: -35px;
      width: 28px;
      height: 28px;
      z-index: 9;
    }
    p {
      margin: 0;
      line-height: 38px;
      padding: 0 5px;
      color: #888;
      &.padding-left {
        padding-left: 35px;
      }
    }
    button {
      opacity: 0.4;
      &.active {
        opacity: 1;
      }
    }
  }
}
// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) { 
  .input-group-append p { display: none; }
 }