  
<main>
  
  <flkr-search-state
    [stateCondition]="results.length === 0"
    [stateText]="'Enter tags seperated by commas'">
  </flkr-search-state>
  
  <flkr-search-state
    [stateCondition]="loadingScroll"
    [stateClass]="'blackout'"
    [stateText]="'Loading more results'">
  </flkr-search-state>

  <flkr-search-state
    [stateCondition]="noResults"
    [stateText]="'Sorry no results for this search'">
  </flkr-search-state>


  <flkr-header
    (searchTerm)="searchTerm$.next($event.target.value)"
    (tagModeAll)="tagModeAll($event)"
    [placeholderText]="placeholder"
    [noResults]="noResults"
    [loading]="loadingInit">
  </flkr-header>
  
    <section 
      class="container search-results"
      *ngIf="total > 0"
      infinite-scroll
      (scrolled)="onScrollDown()">

      <ul *ngIf="results" class="mdc-image-list mdc-image-list--masonry masonry-image-list">
        <li *ngFor="let result of results" class="mdc-image-list__item card">
          <flkr-card [result]="result"></flkr-card>
        </li>
      </ul>
    </section>

  <flkr-footer
    [resultCount]="results.length"
    [noResults]="noResults"
    [totalCount]="total">
  </flkr-footer>

</main>
