  
<main>
  
  <flkr-loading [loading]="loadingScroll"></flkr-loading>

  <flkr-header
    (searchTerm)="searchTerm$.next($event.target.value)"
    [placeholderText]="placeholder"
    [loading]="loadingInit">
  </flkr-header>
  
    <section 
      class="container search-results"
      *ngIf="total > 0"
      infinite-scroll
      (scrolled)="onScrollDown()">

      <ul *ngIf="results" class="mdc-image-list mdc-image-list--masonry masonry-image-list">
        <li *ngFor="let result of results" class="mdc-image-list__item card">
          <flkr-card [result]="result"></flkr-card>
        </li>
      </ul>
    </section>

  <flkr-footer
    [resultCount]="results.length"
    [totalCount]="total">
  </flkr-footer>

</main>
